/* Estilos de la hoja de vida */

.contenedorCv {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh; /* Ajustado para asegurar cobertura vertical */
  width: 80%; /* Ajustado para un mejor manejo de ancho */
  margin: 0 auto; /* Centrado */
}

.contenedorCv h1 {
  text-align: center;
  color: var(--azulCielo);
  padding-bottom: 2rem;
}

.subContenedorCv {
  background-color: var(--gris);
  display: flex;
  flex-direction: column; /* Asegurando que todo está alineado verticalmente */
  align-items: center;
  justify-content: flex-start; /* Alineación al inicio */
  padding: 2rem; /* Espacio interno */
  width: 90%; /* Ocupar todo el ancho del contenedor padre */
  max-width: 960px; /* Máximo ancho para controlar en grandes pantallas */
}

.formCv {
  width: 95%; /* Utiliza todo el ancho del subcontenedor */
  display: grid; /* Usar grid para mejor alineación de los elementos */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 1rem; /* Espacio entre los elementos de grid */
  padding: 1rem; /* Espacio interno */
  justify-content: center;
}

.contenedorInput .contenedorInput textarea {
  width: 70%;
}

.input label,
.input input,
.input select,
.input textarea {
  width: 100%; /* Asegura que cada elemento ocupa todo el espacio disponible */
  border-radius: 0.5rem;
}

.contenedorCheckbox {
  grid-column: span 2; /* Que ocupe las dos columnas del grid */
  display: flex;
  flex-wrap: wrap; /* Permitir que los checkboxes se distribuyan horizontalmente y bajen a la siguiente línea si es necesario */
  justify-content: space-between; /* Separar uniformemente los checkboxes */
  gap: 1rem; /* Espacio entre cada checkbox */
}

.btnSubmit {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 10px;
  background-color: var(--azulCielo);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0 auto; /* Centrar el botón horizontalmente */
  grid-column: span 2; /* Para que el botón ocupe ambas columnas en el grid */
}

.userphoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem;
  border: 2px solid var(--grisRaton); /* Borde de la imagen */
}

.contenedorAptitudes {
  display: flex;
  flex-direction: column; /* Para que cada aptitud esté debajo de la otra */
  align-items: flex-start; /* Alinea todo a la izquierda */
}

.aptitudItem {
  display: flex; /* Hace que el checkbox y el label estén en la misma línea */
  align-items: center; /* Alinea verticalmente el checkbox y el texto */
  margin-bottom: 8px; /* Espacio entre cada aptitud */
}

input[type="checkbox"] {
  margin-right: 8px; /* Espacio entre el checkbox y el texto */
  width: 20px; /* Asegúrate de que el checkbox tenga un tamaño adecuado */
  height: 20px; /* Asegúrate de que el checkbox tenga un tamaño adecuado */
}

/* Estilos del Cv registrado */

.aptitudesList {
    margin: 0; /* Elimina márgenes predeterminados */
    padding-left: 20px; /* Agrega espacio a la izquierda para los puntos de la lista */
  }
  
  .aptitudesList li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
  }
  