body {
  overflow-x: hidden; /* Esto evitará el scroll horizontal */
}

/* Estilos del dashboard */

header {
  text-align: center;
  height: 15vh;
}

/* Estilos del sidebar */

.contenedorPrincipal {
  background-color: var(--grisClaro);
  height: 100vh;
  width: 20vw; /* Ajusta el ancho del sidebar */
  position: fixed; /* Sidebar fijo en la izquierda */
  top: 0;
  left: 0;
}

.contenedorSidebar {
  display: flex; /* Asegúrate de que esté configurado como flex */
  flex-direction: column; /* O cambia a 'row' si prefieres que los elementos se alineen horizontalmente */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: calc(100vh - 15vh); /* Ajusta la altura según sea necesario */
}

.btnAdmin {
  color: var(--negro);
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 10px;
  background-color: var(--grisMedio);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Navegación principal (centrada) */
.navpriv {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-right: 3rem;
  margin-top: 2rem;
}

/* Estilo para el perfil de usuario */
.navRight {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinea la imagen y el nombre del usuario verticalmente */
  gap: 1.5rem; /* Espacio entre la foto y el nombre */
}

.userphoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--grisRaton); /* Borde de la imagen */
}

.username {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grisRaton);
}

.userinitials {
  font-size: 2rem;
  font-weight: 700;
  color: var(--azulCielo);
}

.boton {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 10px;
  background-color: var(--azulCielo);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.headerAdmin {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Asegura que todos los elementos estén alineados verticalmente */
  background-color: var(--grisClaro); /* Fondo gris claro */
  width: 100vw;
}

.buscador {
  background-color: var(--grisMedio);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos del formulario buscador */

.subContenedorBuscador p {
  font-size: large;
  color: var(--blanco);
  width: 70vw;
}

.formBuscador {
  display: flex;
  flex-direction: column; /* Mantiene los elementos en fila horizontal */
  gap: 1rem; /* Espacio entre los divs */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea los elementos en la parte superior */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente fila si la pantalla es pequeña */
  width: 100%; /* Asegúrate de que el formulario ocupe todo el ancho disponible */
}

.input {
  display: flex;
  flex-direction: column; /* Hace que los labels queden encima de los inputs/selects */
  width: 100%; /* Asegúrate de que cada input/label ocupe el ancho necesario */
  max-width: 200px; /* Limita el ancho máximo de cada div si lo deseas */
  padding: 1rem;
}

.input label {
  margin-bottom: 0.5rem; /* Añade espacio entre el label y el input/select */
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.input select,
.input input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--grisRaton);
}

.contenedorBuscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botonBuscar {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 3px;
  background-color: var(--azulCielo);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 120px;
  display: flex;
  justify-content: center;
}

/* Estilos de las cards */
.card {
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 25vh;
  align-items: center;
  border-radius: 7px;
  background-color: var(--grisClaro);
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px; /* Espacio entre tarjetas */
  padding: 40px; /* Espaciado del contenedor */
  margin: 2rem;
}

.home h2 {
  color: var(--grisRaton);
}

.contLink {
  display: flex;
  width: 100%;
}

.fotoPerfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--grisRaton); /* Borde de la imagen */
  align-self: center;
}

.datos {
  font-size: x-small;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.infoUser {
  margin: 0;
  padding: 0;
}
/* Estilos del contenido */

.contenidoDash {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
}

/* Estilos de la lista */

/* Estilos generales para la tabla */
.listarCvs {
  margin-bottom: 15vh;
  padding: 2%;
  margin-left: 20%;
}

.listarCvs h2 {
  color: var(--grisRaton);
  font-size: 24px;
  font-weight: bold;
  margin-left: 0%;
  text-align: center;
}

.listarCvs table {
  flex-grow: 1;
  border-collapse: collapse;
  width: 70vw;
}

.listarCvs th {
  background-color: var(--grisClaro);
  color: var(--azulCielo);
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  border-bottom: 4px solid var(--azulCielo);
}

.listarCvs td {
  font-size: 14px;
  text-align: center;
  color: var(--grisRaton);
  font-weight: 600;
  margin: 10px;
}
