@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');

/* Estilos generales */

:root {
  --azulCielo: #5ce1e6;
  --blanco: #ffffff;
  --negro: #000000;
  --grisClaro: #edf0f4;
  --grisRaton: #3b4754;
  --grisMedio: #798da3;
  --gris: #C9D3DD;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif
}


/* Estilos generales del header privado */
.header-priv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grisClaro); /* Fondo gris claro */
  padding: 1.5rem 0.5rem;
}

/* Contenedor del logo */
.logo-container {
  flex-shrink: 0; /* Mantiene el tamaño del logo fijo */
}

/* Navegación principal (centrada) */
.nav-priv {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly; /* Menú centrado */
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 5rem; /* Espacio entre los elementos del menú */
}

.nav-menu a {
  text-decoration: none;
  color: var(--grisRaton); /* Color gris ratón para los enlaces */
  font-weight: 400; /* Peso medio de fuente */
  font-size: 1.6rem;
}

.nav-menu a:hover,
.nav-menu .active {
  color: var(--azulCielo); /* Azul cielo en hover o activo */
  font-weight: 600;
}

/* Estilo para el perfil de usuario */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espacio entre la foto y el nombre */
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--grisRaton); /* Borde de la imagen */
}

.user-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grisRaton);
}

.user-initials {
  font-size: 2rem;
  font-weight: 700;
  color: var(--azulCielo);
}
